<center><h1>Projects</h1>
<br>
<%= image_tag("p1.png", :alt => "p1") %>
<br>
<h2>Screenshots</h2>
<p>YourLog</p>
<%= image_tag("p2.png", :alt => "p2") %>
<%= image_tag("p3.png", :alt => "p3") %>
<p>Muchacha</p>
<%= image_tag("lvl1.JPG", :alt => "lvl1") %>
<%= image_tag("lvl2.JPG", :alt => "lvl2") %>
<p>The Garage</p>
<%= image_tag("logo.png", :alt => "logo") %>
<%= image_tag("logo3.png", :alt => "logo3") %>
<p>TCSKMS</p>
<%= image_tag("log in.png", :alt => "login") %>
<p>Earthlings</p>
<%= image_tag("earth.png", :alt => "p1") %>
<%= image_tag("sample.png", :alt => "sample") %></center>