<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
   <li><%= link_to 'Who Am I', who_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'School', school_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'CV', skills_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Projects', project_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Contact', contact_path %></li>
  <%= render 'layouts/navigation_links' %>
</ul>
